@charset "UTF-8";

/*
 * Checkboxes and radios
 */
html {
  font-size: 10px;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: verdana;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 10;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

/* Checkbox Hack */
* {
  margin: 0;
}

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

main {
  display: flex;
  align-items: center;
  height: 100vh;
}

label, .splatter {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
}

label {
  position: relative;
  cursor: pointer;
  font-size: 6rem;
  text-align: center;
  cursor: pointer;
}

label::after {
  content: '👆';
  position: absolute;
  bottom: 10%;
  opacity: 0.2;
  font-size: 12rem;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 0.3 ease;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

label:hover::after {
  transition: all 0.3 ease;
  opacity: 0.5;
}

label[for="red"] {
  background: #000;
}

label[for="red"]::after {
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

/* Default State */
.splatter {
  font-size: 4rem;
  -webkit-transform: translate3d(-100%);
  transform: translate3d(-100%);
  background: black;
  transition: all 0.3s cubic-bezier(0.38, 0.23, 0.75, 1.5);
  color: transparent;
}

/* Toggled State */
input[type=checkbox]:checked~.splatter {
  transition: all 0.3s cubic-bezier(0.38, 0.23, 0.75, 1.5);
  visibility: visible;
  color: white;
}

/* Toggled State */
input[type=checkbox]#red:checked~div#paint-red {
  background: red;
}

@media all and (max-width: 700px) {
  label {
    font-size: 4rem;
  }

  label::after {
    font-size: 4rem;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }

  .splatter {
    font-size: 2rem;
  }
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

/*.cal td {
  padding: 0 2px;
  line-height: 100%;
}
